@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Banaglore<br />
   India<br />
    <abbr title="Phone">P:</abbr>
    91 9611227506
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:junaid.jagirdar@gmail.com">junaid.jagirdar@gmail.com</a><br />
</address>